# Ambiente Virtual
venv/
env/
ENV/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribuição / Empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm / IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Ambiente
.env
.venv

# Streamlit Secrets
.streamlit/secrets.toml
Secrets.env

# OS
.DS_Store
Thumbs.db

